@import "../../style/common.scss";

.link {
  color: $link;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.1em;
  &:hover {
    color: $link-hover;
  }
}

.form {
  margin-top: 1rem;


  .select {
    margin-top: 1rem;
  }

  .input {
    margin-top: 1rem;
  }

  .filedropper {
    margin-top: 1rem;
    width: 203px;
  }
}
