.lockIcon {
    background-image: url("../assets/lock.png");
}

.linkIcon {
    background-image: url("../assets/link.png");
}

.daoIcon {
    background-image: url("../assets/dao.svg");
}

.tokenIcon {
    background-image: url("../assets/token.svg");
}

.walletIcon {
    background-image: url("../assets/wallet.svg");
}

.poapIcon {
    background-image: url("../assets/poap.svg");
}