@import "../../style/common.scss";

.form {
    margin-top: 38px;
    max-width: 396px;

    .select {
        margin-top: 27px;
    }

    .input {
        margin-top: 34px;
    }
}

.info {
    margin-top: 48px;
    font-size: 14px;
    line-height: 150%;
    color: $primary;
}