$space-xl: var(--space-xl);
$space-2xl: var(--space-2xl);
$space-3xl: var(--space-3xl);
$space-m: var(--space-m);
$space-s: var(--space-s);

$brand: var(--color-bg-brand);

$primary: rgba(0, 5, 51, 0.6);

$primary-text: var(--color-typo-primary);
$secondary-text: var(--color-typo-secondary);
//$link: var(--color-typo-link);
$link: #0645AD;
$link-hover: rgba(0, 5, 51, 0.6);
//$link-hover: var(--color-typo-link-hover);
$alert-text: var(--color-typo-alert);
$typo-placeholder: var(--color-control-typo-placeholder);
$typo-link-minor: var(--color-typo-link-minor);


$border: var(--color-control-bg-border-default-hover);
